<section class="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__left">
        <h6 class="about__title">
          <span class="about__title-animation">про нас</span>
        </h6>
        <p class="about__subtext">
          Забудь про складні процедури та приховані умови — ми завжди на твоєму
          боці
        </p>
        <ul class="about__social desc">
          <li class="about__social-item">
            <a href="#">Instagram</a>
          </li>
          <li class="about__social-item">
            <a href="#">LinkedIn</a>
          </li>
        </ul>
      </div>
      <div class="about__right">
        <p class="about__info">
          <span>Ми —</span> креативна та динамічна
          <span>команда</span>
          <span>юристів,</span>
          яка розуміє потреби підприємців. Дбаємо про те,
          <span>щоб</span>
          <span>Ви</span>
          <span>могли</span>
          <span>розвивати</span>
          <span>свій</span>
          <span>бізнес,</span>
          не турбуючись про юридичні складнощі.
        </p>
        <div class="about__anim-line desc"></div>
        <div class="about__consult">
          <h6 class="about__subtitle">проводимо консультації</h6>
          <div class="about__anim-line mob"></div>
          <ul class="about__list">
            <li class="about__item">
              <div class="about__item-inner">
                <div class="about__item-head">
                  <strong>Офлайн</strong>
                  <div class="about__icon">
                    <img
                      src="../img/icons/location-icon.svg"
                      alt="icon location"
                    />
                  </div>
                </div>
                <div class="about__headline">
                  <p>Львів, вул. Академіка Андрія Сахарова, 42, офіс 414</p>
                </div>
              </div>
              <div class="about__anim-line"></div>
            </li>
            <li class="about__item">
              <div class="about__item-inner">
                <div class="about__item-head">
                  <strong>Онлайн</strong>
                  <div class="about__icon">
                    <img src="../img/icons/online-icon.svg" alt="icon online" />
                  </div>
                </div>
              </div>
              <div class="about__headline">
                <p>Забезпечимо зручність та гнучкість для кожного клієнта</p>
              </div>
              <div class="about__anim-line"></div>
            </li>
            <li class="about__item">
              <div class="about__item-head">
                <strong>Тривалість </strong>
                <div class="about__icon">
                  <strong>до 1 години </strong>
                </div>
              </div>
              <div class="about__headline">
                <p>
                  Ми цінуємо чесність. Якщо під час з’ясування вашого запиту
                  виявиться, що ми не можемо вам допомогти, ми не проводимо
                  консультацію і не даємо марних надій.
                </p>
              </div>
            </li>
          </ul>
          <div class="about__anim-line mob"></div>
          <ul class="about__social mob">
            <li class="about__social-item">
              <a href="#">Instagram</a>
            </li>
            <li class="about__social-item">
              <a href="#">LinkedIn</a>
            </li>
          </ul>
        </div>
        <div class="about__anim-line"></div>
      </div>
    </div>
  </div>
</section>
