<section class="banner">
    <div class="container">
        <div class="banner__inner">
            <div class="banner__wrap">
                <div class="banner__info-left">
                    <h1 class="banner__title-left">Юридичний захист</h1>
                    <p class="banner__subtitle-left">Гарантуємо спокій та впевненість у кожному рішенні</p>
                    <div class="banner__rating">
                        <img src="../img/icons/google-ic.svg" alt="google images">
                        <div class="banner__rating-info">
                            <p class="banner__rating-text">Оцінка: 4,9</p>
                            <img src="../img/icons/stars.svg" alt="rating stars">
                        </div>
                    </div>
                </div>
                <div class="banner__info-right">
                    <div class="banner__info-wrap">
                        <h2 class="banner__title-right"><span>Власників</span> <span>бізнесу</span></h2>
                        <p class="banner__subtitle-right"><span class="banner__mob-s"></span><span>Ви будуєте</span> свій бізнес,
                            а <span>ми захищаємо</span> Ваші інтереси</p>
                    </div>
                    <div class="banner__rating-mob">
                        <img src="../img/icons/icon-google-mob.svg" alt="google images">
                        <div class="banner__rating-info-mob">
                            <p class="banner__rating-text-mob">Оцінка: 4,9</p>
                            <img src="../img/icons/stars.svg" alt="rating stars">
                        </div>
                    </div>
                    <button class="banner__btn">Записатись на консультацію</button>
                </div>
            </div>
            <div class="banner__company">
                <p class="banner__slogan">нам довіряють</p>
                <ul class="banner__list">
                    <li class="banner__item">
                        <img src="../img/icons/parallel.svg" alt="company icons">
                    </li>
                    <li class="banner__item">
                        <img src="../img/icons/pbc.svg" alt="company icons">
                    </li>
                    <li class="banner__item">
                        <img src="../img/icons/kykil.svg" alt="company icons">
                    </li>
                    <li class="banner__item">
                        <img src="../img/icons/ercy.svg" alt="company icons">
                    </li>
                    <li class="banner__item">
                        <img src="../img/icons/ngn.svg" alt="company icons">
                    </li>
                    <li class="banner__item">
                        <img src="../img/icons/way.svg" alt="company icons">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>