</main>

<footer class="footer" id="contacts">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__menus">
                <ul class="footer__social">
                    <li class="footer__item">
                        <a href="#">Instagram</a>
                    </li>
                    <li class="footer__item">
                        <a href="#">LinkedIn</a>
                    </li>
                </ul>
                <a href="/" class="footer__logo">
                    <img src="../img/icons/logo.svg" alt="idealist logo">
                </a>
                <ul class="footer__menu">
                    <li class="footer__item">
                        <a href="#">Послуги</a>
                    </li>
                    <li class="footer__item">
                        <a href="#">Про нас </a>
                    </li>
                </ul>
            </div>
            <div class="footer__info">
                <ul class="footer__adress">
                    <li class="footer__adress-item">
                        <a href="tel:+380509762547">+38 050 976 25 47</a>
                    </li>
                    <li class="footer__adress-item">
                        <a href="#">вул. Сахарова, буд. 42, офіс 414, м. Львів, 79013</a>
                    </li>
                    <li class="footer__adress-item">
                        <a href="mailto:office@idealistlaw.com">office@idealistlaw.com</a>
                    </li>
                    <li class="footer__adress-item hide__pc">
                        <a href="#">Instagram</a>
                    </li>
                    <li class="footer__adress-item hide__pc">
                        <a href="#">LinkedIn</a>
                    </li>
                </ul>
                <button class="footer__btn">Записатись на консультацію</button>
            </div>
            <ul class="footer__slogan">
                <li class="footer__slogan-item">
                    <p>DON` T</p>
                    <div class="footer__slogan-img footer__slogan-img-first">
                        <img src="../img/general/footer1.jpg" alt="slogan img">
                    </div>
                    <p> WORRY</p>
                </li>
                <li class="footer__slogan-item">
                    <div class="footer__slogan-img footer__slogan-img-second">
                        <img src="../img/general/footer2.jpg" alt="slogan img">
                    </div>
                    <p>WE`LL DEAL </p>
                    <div class="footer__slogan-img footer__slogan-img-second-two">
                        <img src="../img/general/footer2-2.jpg" alt="slogan img">
                    </div>
                </li>
                <li class="footer__slogan-item">
                    <div class="footer__slogan-img footer__slogan-img-third">
                        <img src="../img/general/footer3.jpg" alt="slogan img">
                    </div>
                    <p>WITH THIS</p>

                </li>
            </ul>
            <div class="footer__copy">
                <p class="footer__policy">Політика конфіденційності <span>2024</span></p>
                <p class="footer__by">Design by <a href="#">Babych</a></p>
                <a href="#" class="footer__up">Подивитись спочатку</a>
            </div>
            <div class="mobile__menu hide__menu">
                <ul class="mobile__nav">
                    <li class="mobile__nav-item"><a href="#services">Послуги</a></li>
                    <li class="mobile__nav-item"><a href="#about">Про нас </a></li>
                    <li class="mobile__nav-item"><a href="#contacts">Контакти</a></li>
                </ul>
                <div class="mobile__lang-switch">
                    <span class="mobile__ukr">Укр</span>
                    <span>/</span>
                    <span class="mobile__eng">Eng</span>
                </div>
                <ul class="mobile__social">
                    <li class="mobile__social-item"><a href="#">Instagram</a></li>
                    <li class="mobile__social-item"><a href="#">LinkedIn</a></li>
                </ul>
                <ul class="footer__slogan mobile__slogan">
                    <li class="footer__slogan-item">
                        <p>DON` T</p>
                        <div class="footer__slogan-img footer__slogan-img-first">
                            <img src="../img/general/footer1.jpg" alt="slogan img">
                        </div>
                        <p> WORRY</p>
                    </li>
                    <li class="footer__slogan-item">
                        <div class="footer__slogan-img footer__slogan-img-second">
                            <img src="../img/general/footer2.jpg" alt="slogan img">
                        </div>
                        <p>WE`LL DEAL </p>
                        <div class="footer__slogan-img footer__slogan-img-second-two">
                            <img src="../img/general/footer2-2.jpg" alt="slogan img">
                        </div>
                    </li>
                    <li class="footer__slogan-item">
                        <div class="footer__slogan-img footer__slogan-img-third">
                            <img src="../img/general/footer3.jpg" alt="slogan img">
                        </div>
                        <p>WITH THIS</p>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="overlay">
    <div class="poppup">
        <div class="poppup__wrap">
            <button class="poppup__close">
                <svg width="clamp(1px, 2.083vw, 40px)" height="clamp(1px, 2.083vw, 40px)" viewBox="0 0 40 40"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M30 10L10 30" stroke="black" stroke-width="4" stroke-linecap="square"
                        stroke-linejoin="round" />
                    <path d="M10 10L30 30" stroke="black" stroke-width="4" stroke-linecap="square"
                        stroke-linejoin="round" />
                </svg>
            </button>
            <div class="poppup__header">
                <div class="poppup__header-wrap">
                    <h6 class="poppup__title">Привіт</h6>
                    <p class="poppup__slogan">Ми раді допомогти вам з юридичними питаннями</p>
                    <p class="poppup__text">Ця форма запису створена, щоб ви могли швидко залишити запит на консультацію
                    </p>
                    <div class="details">
                        <p class="details__hours"><strong>Тривалість</strong> до 1 години</p>
                        <p class="details__coasts"><strong>Вартість</strong> 2000 грн</p>
                    </div>
                </div>
                <div class="schedule">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 22.5C17.5228 22.5 22 18.0228 22 12.5C22 6.97715 17.5228 2.5 12 2.5C6.47715 2.5 2 6.97715 2 12.5C2 18.0228 6.47715 22.5 12 22.5Z"
                            stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 6.5V12.5L16 14.5" stroke="black" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <p>пн - пт / 10.00 - 18.00 / (GMT+3)</p>
                </div>
            </div>
            <div class="poppup__content">
                <p class="poppup__content-title">Оберіть</p>
                <form class="poppup__form">
                    <div class="poppup__group poppup__service">
                        <label class="poppup__group-title poppup__service-service"><span>Послугу</span><svg
                                class="poppup__rotate" width="14" height="9" viewBox="0 0 14 9" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1.5L7 7.5L13 1.5" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg></label>
                        <div class="poppup__form-service">
                            <div class="options">
                                <label for="service1"><input checked type="radio" name="service" id="service1">
                                    <span>Юридичний супровід бізнесу</span></label>
                                <label for="service2"><input type="radio" name="service" id="service2">
                                    <span>Захист / супровід партнерства</span></label>
                                <label for="service3"><input type="radio" name="service" id="service3">
                                    <span>Захист майна власника бізнесу</span></label>
                                <label for="service4"><input type="radio" name="service" id="service4">
                                    <span>Захист шлюбних відносин власника бізнесу</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="poppup__group poppup__format">
                        <label class="poppup__group-title poppup__service-format"><span>Формат</span><svg
                                class="poppup__rotate" width="14" height="9" viewBox="0 0 14 9" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1.5L7 7.5L13 1.5" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg></label>
                        <div class="poppup__form-format">
                            <div class="options">
                                <label for="format1"><input checked type="radio" name="format" id="format1">
                                    <span>Offline / <span class="poppup__grey-text">Львів, вул. Академіка Андрія
                                            Сахарова, 42, офіс
                                            414</span></span></label>
                                <label for="format2"><input type="radio" name="format" id="format2">
                                    <span>Online / <span class="poppup__grey-text">Доступний вам спосіб
                                            зв'язку</span></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="poppup__group">
                        <label class="poppup__group-title">
                            <input type="text" placeholder="Ваше Ім’я"></label>
                    </div>
                    <div class="poppup__group">
                        <label class="poppup__group-title">
                            <input type="text" placeholder="Номер телефону"></label>
                    </div>
                    <div class="poppup__group">
                        <label class="poppup__group-title">
                            <input type="email" placeholder="Email"></label>
                    </div>
                    <div class="poppup__group poppup__textarea">
                        <label class="poppup__group-title"><span class="poppup__textarea-title">Коротко опишіть ваш
                                запит</span>
                            <textarea rows="5"
                                placeholder="в юридичному світі особливу роль відіграють дрібниці та уточнення"></textarea></label>
                    </div>
                    <div class="poppup__group poppup__submit">
                        <div class="poppup__btn-submit">
                            <input type="submit" value="Записатись на консультацію">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<script src="js/libs/jquery-3.6.0.min.js"></script>