<section class="meet">
    <div class="container">
        <div class="meet__inner">
            <h6 class="meet__title">Знайомтесь</h6>
            <p class="meet__subtitle">Ті, хто стоять за Вашим захистом</p>
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="meet__photo"><img src="../img/general/slider.jpg" alt="Kyryshko"></div>
                        <ul class="meet__list">
                            <li class="meet__item">
                                <div class="meet__name">
                                    <p class="meet__persone">Кaиришко Оксана</p>
                                    <p class="meet__persone-info">Можливо є посади</p>
                                </div>
                                <p class="meet__xp">
                                    Практикує з 2018 року
                                </p>
                            </li>
                            <li class="meet__item">
                                <div class="meet__educating">
                                    <p>Освіта</p>
                                    <p>Експертність</p>
                                    <p>Експертність</p>
                                </div>
                                <div class="meet__intrest">
                                    <p>Інтереси</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <div class="meet__photo"><img src="../img/general/slider.jpg" alt="Kyryshko"></div>
                        <ul class="meet__list">
                            <li class="meet__item">
                                <div class="meet__name">
                                    <p class="meet__persone">Киришко Оксана</p>
                                    <p class="meet__persone-info">Можливо є посади</p>
                                </div>
                                <p class="meet__xp">
                                    Практикує з 2018 року
                                </p>
                            </li>
                            <li class="meet__item">
                                <div class="meet__educating">
                                    <p>Освіта</p>
                                    <p>Експертність</p>
                                    <p>Експертність</p>
                                </div>
                                <div class="meet__intrest">
                                    <p>Інтереси</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <div class="meet__photo"><img src="../img/general/slider.jpg" alt="Kyryshko"></div>
                        <ul class="meet__list">
                            <li class="meet__item">
                                <div class="meet__name">
                                    <p class="meet__persone">Киришко Оксана</p>
                                    <p class="meet__persone-info">Можливо є посади</p>
                                </div>
                                <p class="meet__xp">
                                    Практикує з 2018 року
                                </p>
                            </li>
                            <li class="meet__item">
                                <div class="meet__educating">
                                    <p>Освіта</p>
                                    <p>Експертність</p>
                                    <p>Експертність</p>
                                </div>
                                <div class="meet__intrest">
                                    <p>Інтереси</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    ...
                </div>

                <div class="meet__navigation">
                    <div class="swiper-button-prev"><img src="../img/icons/arrow-left.svg" alt="arrow left icon"></div>
                    <span class="meet__line"></span>
                    <div class="swiper-button-next"><img src="../img/icons/arrow-right.svg" alt="arrow right icon"></div>
                </div>

            </div>
        </div>
    </div>
</section>