<section class="services">
  <div class="container">
    <div class="services__inner">
      <div class="services__left-wrap">
        <h6 class="services__title">
          <span class="services__title-animation">послуги</span>
        </h6>
        <p class="services__slogan">
          робимо юридичні послуги доступними, зрозумілими та ефективними
        </p>
        <button class="services__btn">Записатись</button>
      </div>
      <div class="services__right-wrap">
        <ul class="services__areas-list">
          <li class="services__area-item">
            <p class="services__area-title">Юридичний супровід бізнесу</p>
            <ul class="services__subareas-list">
              <li class="services__subarea-item">
                <p class="services__subarea-title">Податкове право</p>
              </li>
              <li class="services__subarea-item">
                <p class="services__subarea-title">Трудове право</p>
              </li>
              <li class="services__subarea-item">
                <p class="services__subarea-title">Господарське право</p>
              </li>
              <li class="services__subarea-item">
                <p class="services__subarea-title">Корпоративне право</p>
              </li>
              <li class="services__subarea-item">
                <p class="services__subarea-title">Охорона праці</p>
              </li>
              <li class="services__subarea-item">
                <p class="services__subarea-title">
                  Абонентське обслуговування
                </p>
              </li>
              <li class="services__subarea-item">
                <p class="services__subarea-title">Аудит підприємства</p>
              </li>
              <li class="services__subarea-item">
                <p class="services__subarea-title">Кадрове діловодство</p>
              </li>
            </ul>
          </li>
          <li class="services__area-item">
            <p class="services__area-title">Захист / супровід партнерства</p>
            <ul class="services__subareas-list">
              <li class="services__subarea-item">
                <p class="services__subarea-title">
                  Перед партнерська медіація
                </p>
              </li>
              <li class="services__subarea-item">
                <p class="services__subarea-title">
                  Систематизація діючого партнерства
                </p>
              </li>
              <li class="services__subarea-item">
                <p class="services__subarea-title">
                  Допомога та супровід виходу з партнерства в бізнесі
                </p>
              </li>
              <li class="services__subarea-item">
                <p class="services__subarea-title">
                  Захист інтересів партнерів при створенні партнерського бізнесу
                </p>
              </li>
            </ul>
          </li>
          <li class="services__area-item">
            <p class="services__area-title">Захист майна власника бізнесу</p>
            <ul class="services__subareas-list">
              <li class="services__subarea-item">
                <p class="services__subarea-title">
                  Аудит майнового стану власника бізнесу
                </p>
              </li>
            </ul>
          </li>
          <li class="services__area-item">
            <p class="services__area-title">
              Захист шлюбних відносин власника бізнесу
            </p>
            <ul class="services__subareas-list">
              <li class="services__subarea-item">
                <p class="services__subarea-title">
                  Аудит майнових прав подружжя
                </p>
              </li>
              <li class="services__subarea-item">
                <p class="services__subarea-title">
                  Оцінка ризиків при спадкуванні майна власника бізнесу
                </p>
              </li>
              <li class="services__subarea-item">
                <p class="services__subarea-title">
                  Супровід процесу одруження
                </p>
              </li>
              <li class="services__subarea-item">
                <p class="services__subarea-title">
                  Супровід процесу розірвання шлюбу
                </p>
              </li>
            </ul>
          </li>
        </ul>
        <button class="services__btn-mob">Записатись</button>
      </div>
    </div>
  </div>
</section>
