<section class="trust">
    <div class="container">
        <div class="trust__inner">
            <h3 class="banner__slogan">нам довіряють</h3>
            <ul class="trust__list">
                <li class="trust__item">
                    <img src="../img/icons/parallel.svg" alt="company icons">
                </li>
                <li class="trust__item">
                    <img src="../img/icons/pbc.svg" alt="company icons">
                </li>
                <li class="trust__item">
                    <img src="../img/icons/kykil.svg" alt="company icons">
                </li>
                <li class="trust__item">
                    <img src="../img/icons/ercy.svg" alt="company icons">
                </li>
                <li class="trust__item">
                    <img src="../img/icons/ngn.svg" alt="company icons">
                </li>
                <li class="trust__item">
                    <img src="../img/icons/way.svg" alt="company icons">
                </li>
            </ul>
        </div>
    </div>
</section>