@import "../core";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  // Set global fonts here
}

* {
  position: relative;
}

html {
  font-size: 10px;
  background-color: $colorWhite;
  scroll-behavior: smooth;
}

body {
  font-family: $fontInter;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

section {
  overflow: hidden;
  z-index: 1;
}

main {
  flex: 1;
  margin-top: 6rem;

  @include minw($sm-pc) {
    margin-top: 0;
  }
}


//===========================
// Helpers
//===========================

.container,
[class*="__container"] {
  margin: 0 auto;
  width: 100%;
  max-width: rem($maxWidthContainer);
  padding: 0 rem(calc($containerPadding/2));
}



.hidden {
  display: none !important;
  visibility: hidden !important;
}


//===========================
// Grids
//===========================

[class*="grid"]+[class*="grid"] {
  margin-top: rem($gridPadding);
}



