@import '../core';

.about {
	padding-top: clamp(1px, 10.417vw, 200px);
	padding-bottom: clamp(1px, 7.8125vw, 150px);
	overflow: clip;

	@include maxw($sm-pc) {
		padding-top: clamp(100px, 31.25vw, 31.25vw);
		padding-bottom: clamp(80px, 25vw, 25vw);
	}

	& * {
		color: $colorWhite;
	}
	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		@include maxw($sm-pc) {
			flex-direction: column;
		}
	}

	&__left {
        width: clamp(1px, 16.5625vw, 318px);
        flex-shrink: 0;
        position: sticky;
        top: clamp(1px, 5.2vw, 99.84px);
		
		@include maxw($sm-pc) {
			width: 100%;
			position: static;
			margin-bottom: clamp(80px, 25vw, 25vw);
		}
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 30%;
		margin-bottom: clamp(1px, 9.948vw, 191px);
		margin-left: auto;
		margin-right: auto;
		font-weight: 500;
		font-size: clamp(1px, 1.042vw, 20px);
		line-height: 1.2;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: $colorWhite;
		text-align: center;
		white-space: nowrap;
		transition: width 300ms ease-in-out 600ms;

		@include maxw($sm-pc) {
			font-size: clamp(14px, 4.375vw, 4.375vw);
			margin-bottom: 0;
		}
		&:before {
            font-weight: 400;
            line-height: normal;
            display: block;
			content: '(';
			font-family: $fontHaviland;
			font-size: clamp(1px, 3.125vw, 60px);

            @include maxw($sm-pc) {
                font-size: clamp(50px, 15.625vw, 15.625vw);
            }
		}
		&:after {
            font-weight: 400;
            line-height: normal;   
            display: block;
			content: ')';
			font-family: $fontHaviland;
			font-size: clamp(1px, 3.125vw, 60px);
            
            @include maxw($sm-pc) {
                font-size: clamp(50px, 15.625vw, 15.625vw);
            }
		}        
        &.in-view {
            width: 100%;
            transition: width 300ms ease-in-out 300ms;
            & .about__title-animation {
                transition: opacity 300ms ease-in-out 600ms, width 0ms ease-in-out 600ms;
                width: 100%;
                opacity: 1;
            }
        }
	}

    &__title-animation {

        transition: opacity 300ms ease-in-out 300ms, width 0ms ease-in-out 600ms;
        font-size: inherit;
        color: inherit;
        text-align: center;
        width: 0;
        opacity: 0;

    }

	&__subtext {
		margin-bottom: clamp(1px, 10.417vw, 200px);
		font-weight: 500;
		line-height: normal;
		font-size: clamp(1px, 1.042vw, 20px);
		text-align: justify;

		@include maxw($sm-pc) {
			display: none;
		}
	}

	&__social {
		display: flex;
		justify-content: space-between;

		&.mob {
			display: none;
			@include maxw($sm-pc) {
				padding: clamp(40px, 12.5vw, 12.5vw) 0;
				display: flex;
			}
		}

		&.desc {
			@include maxw($sm-pc) {
				display: none;
			}
		}

		a {
			font-weight: 600;
			line-height: normal;
			font-size: clamp(1px, 1.042vw, 20px);

			@include maxw($sm-pc) {
				font-size: clamp(16px, 5vw, 5vw);
				line-height: 1.2;
			}
		}
	}
	
	&__right {
		width: clamp(1px, 66.25vw, 1272px);

		@include maxw($sm-pc) {
			width: 100%;
		}
	}

	&__info,
	&__info span {
		font-weight: 500;
		font-size: clamp(1px, 3.125vw, 60px);
		@include maxw($sm-pc) {
			font-weight: 400;
			font-size: clamp(28px, 8.75vw, 8.75vw);
		}
	}
	&__info span {
		font-weight: 600;
	}
	&__info {
		margin-bottom: clamp(1px, 46.875vw, 150px);
		position: relative;
		color: #b6b6b6;
		line-height: normal;

		@include maxw($sm-pc) {
			margin-bottom: clamp(100px, 31.2vw, 31.2vw);
		}
	}

	&__anim-line {
		height: 0.5px;
		width: 100%;
		overflow: hidden;

		&.desc{
			@include maxw($sm-pc) {
				display: none;
			}
		}

		&.mob{
			display: none;
			@include maxw($sm-pc){
				display: block;
			}
		}

        &.in-view::after {
            transform: translateX(0);
        }

        &::after {
            content: '';
            display: block;
            height: 1px;
            background-color: $colorGrey;
            transform: translateX(-100%);
            transition: transform 600ms ease-in-out 300ms;
		}
	}

	&__consult {
        position: relative;
		display: flex;
		justify-content: space-between;
		padding: clamp(1px, 3.125vw, 60px) 0;

		@include maxw($sm-pc) {
			flex-direction: column;
			padding: 0;
		}
	}
	&__subtitle {
		font-weight: 500;
		font-size: clamp(1px, 1.042vw, 20px);
		line-height: 1.2;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		white-space: nowrap;

		@include maxw($sm-pc) {
			font-size: clamp(14px, 4.375vw, 4.375vw);
			margin-bottom: clamp(60px, 18.75vw, 18.75vw);
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		width: clamp(1px, 28.18vw, 541px);
		gap: clamp(1px, 6.25vw, 120px);

		@include maxw($sm-pc) {
			width: 100%;
			gap: 0;
		}
	}

	&__item {
		position: relative;

		@include maxw($sm-pc) {
			padding: clamp(40px, 12.5vw, 12.5vw) 0;
		}

		.about__anim-line {
			position: absolute;
			bottom: clamp(-60px, -3.125vw, -3.125vw);
		}
		
		&:first-child {
			img {
				width: clamp(1px, 3.125vw, 60px);
				height: clamp(1px, 3.125vw, 60px);
				flex-shrink: 0;

				@include maxw($sm-pc) {
					width: clamp(38px, 11.875vw, 11.875vw);
					height: clamp(38px, 11.875vw, 11.875vw);
				}
			}
		}
		&:nth-child(2) {
			img {
				width: clamp(1px, 7.656vw, 147px);
				height: clamp(1px, 3.125vw, 60px);
				
				@include maxw($sm-pc) {
					height: clamp(38px, 11.875vw, 11.875vw);
					width: clamp(91.2px, 28.5vw, 28.5vw);
				}
				flex-shrink: 0;
			}
		}
	}

	&__item-head {
		display: flex;
		justify-content: space-between;
		padding-bottom: clamp(1px, 2.135vw, 41px);

		@include maxw($sm-pc) {
				padding-bottom: clamp(20px, 6.25vw, 6.25vw);
			}

		strong {
			display: inline-block;
			font-size: clamp(1px, 1.25vw, 24px);
			font-weight: 600;
			line-height: normal;

			@include maxw($sm-pc) {
				font-size: clamp(16px, 5vw, 5vw);
				line-height: 1.2;
			}
		}
	}

	&__headline {
		width: clamp(1px, 15.625vw, 300px);
		@include maxw($sm-pc) {
			width: clamp(250px, 78.125vw, 78.125vw);
		}
		
		&:last-of-type {
			width: clamp(1px, 17.1875vw, 330px);
			@include maxw($sm-pc) {
				width: clamp(250px, 78.125vw, 78.125vw);
			}
		}

		p {
			font-weight: 500;
			font-size: clamp(1px, 1.042vw, 20px);
			line-height: normal;
			color: $colorGrey;

			@include maxw($sm-pc) {
				font-size: clamp(16px, 5vw, 5vw);
				font-weight: 400;
			}
		}
	}
	&__icon {
		strong {
			white-space: nowrap;
			font-size: clamp(1px, 1.042vw, 20px);

			@include maxw($sm-pc) {
				font-size: clamp(16px, 5vw, 5vw);
			}
		}
	}
}

.char, .word {
	opacity: 1;
	color: inherit;
	font-size: inherit;
}