@import '../core';

.header-banner {
	padding-top: 20px;
	padding-bottom: clamp(1px, 4.479vw, 86px);
	background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
		url('../../img/general/banner-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	margin-bottom: clamp(1px, 9.167vw, 176px);
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		img {
			width: clamp(1px, 7.5vw, 144px);
			height: clamp(1px, 3.542vw, 68px);
			@include maxw($sm-pc) {
				width: clamp(101px, 31.563vw, 31.563vw);
				height: clamp(48px, 15vw, 15vw);
			}
		}
	}
	&__list {
		display: flex;
		gap: clamp(1px, 1.042vw, 20px);
	}
	&__nav {
		margin-left: auto;
		@include maxw($sm-pc) {
			display: none;
		}
	}
	&__item {
		a {
			padding: 12px clamp(1px, 1.042vw, 20px);
			font-weight: 600;
			font-size: clamp(16px, 1.042vw, 20px);
			letter-spacing: -0.02em;
			text-transform: capitalize;
			color: $colorWhite;
		}
	}
	&__burger-menu {
		display: none;
		svg {
			width: clamp(32px, 10vw, 10vw);
			height: clamp(32px, 10vw, 10vw);
		}
		path {
			transition: stroke 350ms ease-in;
		}

		&:hover {
			cursor: pointer;
			path {
				stroke: white;
			}
		}

		@include maxw($sm-pc) {
			display: block;
			border: none;
			background-color: transparent;
		}
	}
	&__lang-switch {
		margin-left: clamp(1px, 2.969vw, 57px);
		@include maxw($sm-pc) {
			display: none;
		}
		span {
			font-weight: 700;
			font-size: clamp(16px, 1.042vw, 20px);
			letter-spacing: -0.04em;
			text-transform: uppercase;
			background: linear-gradient(
				57deg,
				#d0c0aa 0%,
				#d1c2ac 27.5%,
				#b7a58b 56.5%,
				#8a775a 85%,
				#6e5e41 100%
			);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	&__ukr,
	&__eng {
		&:hover {
			cursor: pointer;
		}
	}
}
