@import '../core';

.ready {
    padding: clamp(1px, 10.417vw, 200px) 0;
	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__text {
		margin-bottom: clamp(1px, 5.208vw, 100px);
		width: clamp(1px, 59.375vw, 1140px);
		font-weight: 500;
		font-size: clamp(1px, 3.125vw, 60px);
		text-align: center;
		line-height: 1.4;
	}
	&__consultation {
		padding: clamp(1px, 1.302vw, 25px) clamp(1px, 5.99vw, 115px);
		font-weight: 500;
		font-size: clamp(1px, 1.25vw, 24px);
		letter-spacing: -0.02em;
		text-align: center;
        color: $colorWhite;
        background: $colorBlack;
		border: none;
	}
    
}
