@import '../core';

.slogan {
	padding: clamp(1px, 10.417vw, 200px) 0;
	background-color: $colorMainGreen;

	@include maxw($sm-pc) {
		padding: clamp(120px, 37.5vw, 375.5vw) 0;
	}
	&__text,
	&__text span {
		font-family: $fontInter;
		font-weight: 400;
		font-size: clamp(1px, 4.166vw, 80px);
		color: $colorGrey;
		text-align: justify;

		@include maxw($sm-pc) {
			font-size: clamp(28px, 8.75vw, 8.75vw);
			text-align: start;
		}
	}
	&__text {
		line-height: normal;
		span {
			font-weight: 600;
			color: $colorWhite;
		}

	}
	&__slag {
        display: inline-block;
		width: clamp(1px, 27.448vw, 527px);
		color: transparent;

		@include maxw($sm-pc) {
			width: 0;
			display: none !important;
		}
	}
}

.desc-br {
	@include maxw($sm-pc) {
		display: none;
	}
}

.char, .word {
	opacity: 1;
	color: inherit;
	font-size: inherit;
}